body {
  background: rgb(15,15,15);
  align-items: center;
  padding: 65px 55px;
  background-color: #000000;
  opacity: 0.8;
  background-image: linear-gradient(0deg,       #000000 50%, #0e0e0e 50%);
  background-size: 10px 10px;
}

h1 {
  color: lightgreen;
  font-size: 5rem;
  font-family: "Space Mono", monospace;
}

h2 {
   color: lightgreen;
  font-size: 5rem;
  font-family: "Space Mono", monospace;
}

.hidden {
  opacity: 0%;
}

.hidden:hover {
  opacity:100%;
}